@import 'partials/variables';
@import 'partials/mixin';
@import 'partials/classes';

@import 'partials/colors';
body {
  font-size: 17px;
  font-family: $roboto-font;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 500;
  background: $body-bg;
}

ul {
  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
}
.form-control {
  @include no-radious;
  &:focus {
    box-shadow: none;
    outline: none;
    border-color: $light-blue;
  }
}
.common-title-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .left-box {
    flex-basis: 33.3333%;
    h3.common-title {
      @include h3-common-title;
    }
    h3.common-title.hot-sale {
      color: $ex-red;
      display: inline-block;
      margin-right: 20px;
    }
    #countdown {
      text-align: center;

      display: inline-block;
      #tiles {
        position: relative;
        z-index: 1;
        span {
          width: 45px;
          max-width: 45px;
          text-align: center;
          color: #fff;
          margin: 0 7px;
          padding: 5px 0;
          display: inline-block;
          position: relative;
          font-size: 20px;
          font-weight: 600;
          background: $logo-blue;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
        }
      }
      .labels {
        width: 100%;

        text-align: center;

        li {
          width: 75px;

          color: $text-color;

          text-align: center;
          text-transform: uppercase;
          display: inline-block;
        }
      }
    }
  }
  .center-box {
    flex-basis: 33.3333%;

    display: flex;
    justify-content: center;
    align-items: center;

    span.ends-in {
      font-size: 18px;
      color: $text-color;
      text-transform: uppercase;
      margin-right: 10px;
    }
  }
  .right-box {
    flex-basis: 33.3333%;
    text-align: right;
    a.see-all-products {
      text-transform: uppercase;
      font-size: 17px;
      color: $logo-blue;

      i {
        font-size: 15px;
      }
      &:hover {
        color: $ex-red;
      }
    }
  }
}
.mb-tweenty {
  margin-bottom: 20px;
}
.mb-thirty {
  margin-bottom: 30px;
}
// common css for top menu

.header-top {
  padding: 4px 0;

  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  background-color: #fff;
  .container-fluid {
    display: unset !important;
  }
  .navbar {
    padding: 0 !important;
    .navbar-brand {
      img {
        max-width: 130px;
      }
    }
    .form-control {
      padding: 0 0 0 15px;
      border: 1px solid #283593;
      border-right-color: #283593;
      color: $logo-blue;
      border-right-style: solid;
      border-right-width: 1px;
      border-right: 0 none;
      border-radius: 3px 0 0 3px;
      font-size: 13px;
      width: auto;
      overflow: hidden;
      -webkit-border-radius: 3px 0 0 3px;
      -moz-border-radius: 3px 0 0 3px;
      -ms-border-radius: 3px 0 0 3px;
      -o-border-radius: 3px 0 0 3px;
      height: 38px;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
    .btn-success {
      background: $logo-blue;
      border-color: $logo-blue;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      &:focus {
        box-shadow: none;
        outline: none;
      }
      i {
        font-size: 20px;
      }
    }
    .topsocial-nav {
      margin-right: 20px;
      margin-left: 20px;
      li.nav-item {
        a.nav-link {
          padding: 0 0.4em 0 0.4em;
          img {
            width: 32px;
            margin-right: 10px;
          }
        }
      }
    }
    .topcart-nav {
      margin-right: 0px;
      margin-left: 20px;
      li.nav-item {
        margin-right: 10px;
        a.nav-link {
          padding: 0 0.4em 0 0.4em;
          color: $text-color;
          text-transform: uppercase;
          &:hover {
            color: $logo-blue;
          }
          img {
            width: 32px;
            margin-right: 10px;
          }
        }
        .dropdown-toggle {
          &::after {
            display: none;
          }
        }
        .dropdown-menu {
          min-width: 200px;
          @include no-radious;
          border-color: #137bc2;
          a.dropdown-item {
            &:hover {
              padding-left: 30px;
              background: #004a96;
              color: #fff;
              font-weight: normal;
            }
          }
        }
        .dropdown-item {
          text-transform: uppercase;
          font-size: 13px;
          letter-spacing: 0.3px;
          color: rgba(0, 0, 0, 0.87);
          font-weight: normal;
          transition: all 0.3s;
        }
      }
    }
  }
}
.select2-container {
  .select2-selection--single {
    height: 38px !important;
  }
}
.select2-container--default {
  .select2-selection--single {
    border: 1px solid #283593 !important;
    border-radius: 0px !important;
    .select2-selection__arrow {
      top: 6px;
    }
  }
  .select2-search--dropdown {
    .select2-search__field {
      border: 1px solid #283593;
      &:focus {
        border: 1px solid #283593;
        box-shadow: none;
        outline: none;
      }
    }
  }
}
.catagory-lists-select {
  width: 160px;
  min-width: 160px;
  max-width: 160px;
  margin-bottom: 0;
  margin-right: 0px;
  select + .select2-container {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
  .select2-container {
    .select2-selection--single {
      .select2-selection__rendered {
        padding-left: 13px;
        padding: 4px 0 0 15px;
      }
    }
  }
}

// = = = = = = = = = = = = = = = = = = = =

// main header start from here

// = = = = = = = = = = = = = = = = = = = =
.main-header {
  .navbar {
    background: $logo-blue;
    color: #fff;
    padding: 0;
    height: 43px;
    .sidebar-show-btn {
      background: transparent;
      @include no-radious;
      border: none;
      color: #fff;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      margin-right: 10px;

      svg {
        margin-right: 10px;
        fill: #fff;
      }
    }
    ul.navbar-nav {
      li.nav-item {
        height: 43px;
        display: flex;
        align-items: center;
        a.nav-link {
          color: #fff;
          letter-spacing: 0.3px;
          font-size: 13px;
          font-weight: normal;
          text-transform: uppercase;
          padding: 4px 15px;
        }
        .dropdown-toggle::after {
          display: none;
        }
        a.dropdown-item {
          text-transform: uppercase;

          font-size: 13px;
          letter-spacing: 0.3px;
          color: $text-color;
          font-weight: normal;
          transition: all 0.3s;
          &:hover {
            padding-left: 30px;
            background: $logo-blue;
            color: #fff;
            font-weight: normal;
          }
        }
        .dropdown-menu {
          min-width: 270px;
          top: 43px;
          @include no-radious;
          border-color: $light-blue;
        }
      }
    }
  }
}
// = = = = = = = = = = = = = = = = = = = =

// main header end here

// = = = = = = = = = = = = = = = = = = = =

// body toggle section start from here . do not overwrite without discussion

.layout-main {
  display: flex;
  width: 100%;
  align-items: stretch;
  margin-bottom: 20px;

  #sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #fff;

    transition: all 0.3s;
    .sidebar {
      padding: 20px 10px;
      height: 100%;
      .nav-header {
        text-align: center;
        margin-bottom: 10px;
        background: $body-bg;
        padding: 10px 0;
        h3 {
          color: $logo-red;
          text-transform: capitalize;
          font-size: 18px;
          margin-bottom: 0px;
        }
      }

      li {
        .submenu {
          list-style: none;
          margin: 0;
          padding: 0;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
      li.nav-item {
        border-bottom: 1px solid $body-bg;
      }

      .nav-link {
        font-weight: 500;
        text-transform: capitalize;
        color: $text-color;
        font-size: 15px;
      }
      .parent-link {
        position: relative;
        &::after {
          position: absolute;
          right: 0;
          top: 10px;

          content: '\f054';
          font-weight: 900;
          font-family: 'Font Awesome 6 Free';
          color: $text-color;

          font-size: 13px;
        }
      }
      .parent-link.icon-rotate {
        &::after {
          transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
        }
      }
    }
  }

  #sidebar.active {
    margin-left: -300px;
  }

  #content {
    // width: 100%;
    width: calc(100% - 300px);
    padding: 0;
    // min-height: 95vh;
    transition: all 0.3s;
  }
  #content.fulll-width {
    width: 100%;
  }

  .offer-slider-main {
    .always-offer-main {
      background: $offer-bg;
      padding: 10px 10px;
      .slick-slide {
        margin-left: 5px;
      }
      .slick-list {
        margin-left: -5px;
      }
      .card {
        background: $offer-bg;
        @include no-radious;
        .card-body {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding: 10px;
          .image-box {
            flex-basis: 60px;
            text-align: center;
            img {
              max-width: 50px;
              max-height: 50px;
            }
          }
          .content-box {
            flex-basis: calc(100% - 60px);
            .offer-product-name {
              h5 {
                font-size: 14px;
                margin-bottom: 8px;

                a {
                  color: $logo-blue;
                }
              }
              .offer-btn {
                border: none;
                background: $logo-blue;
                color: #fff;
                text-transform: uppercase;
                padding: 5px 15px;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                font-size: 14px;
                line-height: normal;
              }
            }
          }
        }
      }
    }
  }
  .home-slider-main {
    margin-bottom: 20px;

    .slick-prev {
      z-index: 1;
      border: 1px solid $logo-blue;
      color: #fff;
      left: 25px;
      font-size: 17px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      transition: all 0.3s;
      &:hover {
        border-color: $logo-red;
        color: $logo-red;
      }
    }
    .slick-next {
      z-index: 1;
      border: 1px solid $logo-blue;
      color: #fff;
      right: 25px;
      font-size: 17px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: all 0.3s;
      &:hover {
        border-color: $logo-red;
        color: $logo-red;
      }
    }
  }
  .online-apply {
    .online-apply-border {
      border-bottom: 1px solid $tag-grey;
      text-align: right;
      margin-bottom: 50px;
      .apply-online-btn {
        background: $green;
        display: inline-block;
        font-size: 18px;
        text-transform: capitalize;
        color: #fff;
        padding: 10px 20px;
        font-weight: 600;
      }
    }
  }

  .single-job-main {
    margin-bottom: 0px;
    .card {
      @include no-radious;
      margin-bottom: 20px;
      .card-body {
        h4.job-title {
          color: $green;
          @include job-title;
        }
        h4.job-vacancy {
          @include job-title;
          color: $text-color;
        }
        h4.total-vacancy {
          @include job-title;
          color: $tag-grey;
        }
        .job-responsibility {
          position: relative;
          h4.responsibility {
            @include job-title;
            color: $text-color;
          }
          ul {
            padding-bottom: 20px;
            margin-bottom: 0;
            li {
              font-size: 16px;
              text-transform: capitalize;
              list-style-type: disc;
              list-style-position: inside;
              margin-bottom: 5px;
              color: $tag-grey;
            }
          }
          a.job-readmore {
            text-transform: capitalize;
            text-align: right;
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 17px;
          }
        }
      }
    }
  }

  // = = = = = = = = = = = = = = = = = = = =

  // main slider start from here

  // = = = = = = = = = = = = = = = = = = = =

  .primary-slider-main {
    .primary-slider-flex {
      display: flex;
      flex-wrap: wrap;

      .main-slider {
        flex-basis: 66%;
        width: 66%;
        padding: 0 8px;
        padding-left: 0;
        .main-slider-wrapper {
          margin-bottom: 10px;
        }
        .slick-dots {
          bottom: 20px;
        }
        .slick-slide {
          img {
            min-height: 531px;
          }
        }
      }
      .double-slider {
        flex-basis: 34%;
        width: 34%;
        padding: 0 8px;
        padding-right: 0;
        .slick-slider {
          margin-bottom: 10px;
          min-height: 256px;
          img {
            height: 100%;
            min-height: 256px;
          }
        }
        .slick-dots {
          bottom: 20px;
          li {
            width: 10px;
            height: 10px;
            button {
              width: 10px;
              height: 10px;
              &::before {
                width: 8px;
                height: 8px;
              }
            }
          }
        }
      }
    }
    .secondary-slider-flex {
      .secondary-slider {
        .slick-slide {
          margin: 0 5px;
          // img {
          //   min-height: 256px;
          // }
        }
        .slick-list {
          margin: 0 -5px;
        }
        .slick-dots {
          bottom: -15px;
          li {
            width: 10px;
            height: 10px;
            button {
              width: 10px;
              height: 10px;
              &::before {
                width: 6px;
                height: 6px;
              }
            }
          }
        }
        .slick-slider {
          margin-bottom: 0;
        }
      }
      // .secondary-slider:last-child {
      //   padding-right: 0;
      // }
    }
  }

  // = = = = = = = = = = = = = = = = = = = =

  // main slider end here

  // = = = = = = = = = = = = = = = = = = = =
}
// = = = = = = = = = = = = = = = = = = = =

// footer section start from here

// = = = = = = = = = = = = = = = = = = = =
.second-footer {
  background: $second-footer-bg;
  padding: 50px 0;

  h4.second-footer-title {
    @include job-title;
    text-transform: uppercase;
  }
  ul.nav {
    padding-left: 0;
    li.nav-item {
      a.nav-link {
        color: $text-color;
        font-size: 17px;
        text-transform: capitalize;
        padding-left: 0;
        transition: all 0.3s;
        &:hover {
          padding-left: 20px;
          color: $logo-blue;
        }
      }
    }
  }
  h5.download-app-title {
    text-transform: capitalize;
    font-weight: normal;
    font-size: 17px;
    margin-bottom: 15px;
  }
  p.part {
    font-size: 14px;
    text-align: justify;

    margin-bottom: 20px;
  }
  .phone-box {
    background: $logo-blue;
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .input-box {
      flex-basis: calc(100% - 80px);
      .form-control {
        background: transparent;
        border: none;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: 15px;
      }
      ::placeholder {
        color: #fff;
      }
    }
    .plan-box {
      flex-basis: 70px;
      text-align: center;
      .plain-btn {
        padding: 0;
        background: transparent;

        @include no-radious;
        border: none;
      }
      i {
        font-size: 30px;
        color: #fff;
      }
    }
  }
  .download-app-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    div {
      flex-basis: 48%;
    }
  }
}
.ssl-footer {
  background: $logo-blue;
  padding: 20px 0;
  .footer-border {
    margin: 20px 0;
    border-bottom: 1px solid #fff;
  }
  p {
    color: #fff;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    a {
      color: #fff;
    }
  }
  p.text-end {
    color: #fff;
  }
}
.jobdetails-main {
  .card {
    @include no-radious;
    .card-body {
      h4.job-title {
        @include job-title;
        color: $green;
      }

      h4.job-vacancy {
        @include job-title;
        color: $text-color;
      }
      h4.total-vacancy {
        @include job-title;
        color: $tag-grey;
      }
      .job-responsibility {
        margin-bottom: 20px;
        h4.responsibility {
          @include job-title;
          color: $text-color;
        }
        ul {
          padding-bottom: 0px;
          margin-bottom: 0px;
          li {
            font-size: 16px;
            text-transform: capitalize;
            list-style-type: disc;
            list-style-position: inside;
            margin-bottom: 5px;
            color: $tag-grey;
          }
        }
      }
      .apply-online-btn {
        background: $green;
        @include no-radious;
        border: none;
        color: #fff;
        font-size: 17px;
        padding: 5px 20px;
        margin-bottom: 20px;
        text-transform: capitalize;
        transition: all 0.3s;
        &:hover {
          background: $logo-blue;
        }
      }
    }
  }
}
// = = = = = = = = = = = = = = = = = = = =

// footer section end here

// = = = = = = = = = = = = = = = = = = = =

// = = = = = = = = = = = = = = = = = = = =

// home popular product start from here

// = = = = = = = = = = = = = = = = = = = =
.popularproduct-main {
  margin: 30px 0;
  background: #fff;
  padding: 30px 0;
  h3.common-title {
    @include h3-common-title;
  }
  h3.common-title.hot-sale {
    color: $ex-red;
  }
  .popularproduct-tabs {
    ul.nav-tabs {
      border: none;
      margin-bottom: 10px;
      li.nav-item {
        .nav-link {
          @include no-radious;
          min-width: 200px;
          border: none;
          border: 1px solid $l-gray;
          color: $tag-grey;
          font-size: 17px;
          font-weight: 500;
          text-transform: capitalize;
        }

        .nav-link.active {
          position: relative;
          color: #fff;
          background: $logo-blue;
          border-color: $logo-blue;
        }
      }
      li.nav-item:not(:last-child) .nav-link {
        border-right: none;
      }
    }
    .popularproduct-wrapper {
      margin-top: 30px;
      .card {
        transition: all 0.3s;
        position: relative;
        border: 1px solid #f1f1f1;
        border-radius: 0.25rem;
        &:hover {
          box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
        }
        .card-body {
          .image-box {
            min-height: 200px;
            border-bottom: 1px solid $l-gray;
            margin-bottom: 7px;
            max-height: 200px;
            text-align: center;
            img {
              height: 100%;
              max-height: 180px;
              margin: 0px auto;
            }
          }
          .brand-image-box {
            min-height: 298px;
            max-height: 298px;
            img {
              height: 100%;
              min-height: 298px;
              max-height: 298px;
              margin: 0px auto;
            }
          }
          .description-box {
            min-height: 130px;
            border-bottom: 1px solid $l-gray;
            margin-bottom: 7px;
            h4.product-title {
              text-align: center;
              a {
                font-size: 14px;
                text-transform: capitalize;
                color: $tag-grey;
                line-height: 1.5;

                margin-bottom: 15px;
                &:hover {
                  color: $logo-blue;
                }
              }
            }
            h3.product-price {
              color: $logo-blue;
              font-size: 17px;
              text-align: center;
              font-weight: normal;
              span {
                color: $tag-grey;
                font-weight: normal;
                font-size: 14px;
                text-transform: capitalize;
              }
            }
            .moredetails-main {
              border: 1px solid $l-gray;
              padding-left: 5px;
              border-bottom: none;
              color: $tag-grey;
              font-weight: normal;
              font-size: 14px;
              text-transform: capitalize;
              .more-options {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                padding-top: 5px;
                padding-bottom: 5px;
                .all-more {
                  display: inline-flex;
                  flex-wrap: wrap;
                  .dropdown-menu {
                    @include no-radious;
                    left: 50% !important;
                    width: 90%;
                    transform: unset;
                    transform: translate(-50%, -105px) !important;
                    -webkit-transform: translate(-50%, -105px) !important;
                    -moz-transform: translate(-50%, -105px) !important;
                    -ms-transform: translate(-50%, -105px) !important;
                    -o-transform: translate(-50%, -105px) !important;
                    padding: 15px;
                    font-size: 14px;
                    min-height: 150px;
                    text-align: center;
                    h4.product-name {
                      font-size: 15px;
                      margin-bottom: 10px;
                    }
                    .all-offer {
                      p {
                        margin-bottom: 5px;
                        font-size: 14px;
                        color: $tag-grey;
                        span.disc-qty {
                          color: $logo-red;
                        }
                      }
                    }
                    .form-select {
                      @include no-radious;
                      text-transform: capitalize;
                      font-size: 14px;
                      &:focus {
                        box-shadow: none;
                        outline: none;
                      }
                    }
                  }
                  .dropdown-toggle {
                    padding: 0;
                    @include no-radious;
                    border: none;
                    width: 50px;
                    margin-left: 20px;
                    background: transparent;
                    &::after {
                      border: none;
                      content: '\f078';
                      font-weight: 900;
                      font-family: 'Font Awesome 6 Free';
                      color: rgba(0, 0, 0, 0.87);
                      font-size: 13px;
                      flex-wrap: wrap;
                      align-items: center;
                      justify-content: center;
                      vertical-align: middle;
                    }
                    &:focus {
                      border: none;
                    }
                  }
                  .dropdown-toggle-up {
                    &::after {
                      content: '\f077' !important;
                    }
                  }
                }
              }
            }
          }
          .addtocart-section {
            // min-height: 40px;

            .addtocart-btn {
              background: $logo-blue;

              @include pp-addtocart-btn;
              i {
                margin-right: 5px;
              }
              &:hover {
                background: #fff;
                border-color: $logo-blue;
                color: $logo-blue;
              }
            }

            .requestto-stock-btn {
              @include pp-addtocart-btn;
              background: $ex-red;
              i {
                margin-right: 5px;
              }
              &:hover {
                background: #fff;
                border-color: $ex-red;
                color: $ex-red;
              }
            }
            .addto-quote-btn {
              @include pp-addtocart-btn;
              background: $light-blue;
              i {
                margin-right: 5px;
              }
              &:hover {
                background: #fff;
                border-color: $light-blue;
                color: $light-blue;
              }
            }
            .add-req-flex {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;
              .btn {
                // flex-basis: 49%;
                flex-basis: auto;
              }
            }
            .quantity-box {
              @include pp-addtocart-btn;
              background: $logo-blue;
              position: relative;
              .form-control {
                text-align: center;
                background: transparent;
                font-size: 17px;
                color: #fff;
                padding: 0;
                height: 27px;
                border: none;
              }
              .qty-minus-btn {
                @include addtocart-qty;
                top: 9px;
                left: 50px;
                color: $logo-blue;
                &:hover {
                  color: $logo-blue;
                }
              }
              .qty-plus-btn {
                @include addtocart-qty;
                top: 9px;
                right: 50px;
                color: $logo-blue;
                &:hover {
                  color: $logo-blue;
                }
              }
            }
          }
        }
      }

      .slick-slide {
        margin: 0 10px;
      }

      .slick-list {
        margin: 0 -10px;
      }
      .slick-next {
        @include common-slick-next;
      }
      .slick-prev {
        @include common-slick-prev;
      }
    }
    .view-all-product-btn {
      background: $logo-blue;
      color: #fff;
      @include no-radious;
      border-color: $logo-blue;
      margin-top: 20px;
      font-size: 14px;
      padding-left: 20px;
      padding-right: 20px;
      text-transform: capitalize;
      &:hover {
        background: #fff;
        color: $logo-blue;
      }
    }
  }
  .common-title-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .left-box {
      flex-basis: 33.3333%;
      h3.common-title {
        @include h3-common-title;
      }
      h3.common-title.hot-sale {
        color: $ex-red;
        display: inline-block;
        margin-right: 20px;
      }
      #countdown {
        text-align: center;

        display: inline-block;
        #tiles {
          position: relative;
          z-index: 1;
          span {
            width: 45px;
            max-width: 45px;
            text-align: center;
            color: #fff;
            margin: 0 7px;
            padding: 5px 0;
            display: inline-block;
            position: relative;
            font-size: 20px;
            font-weight: 600;
            background: $logo-blue;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
          }
        }
        .labels {
          width: 100%;

          text-align: center;

          li {
            width: 75px;

            color: $text-color;

            text-align: center;
            text-transform: uppercase;
            display: inline-block;
          }
        }
      }
    }
    .center-box {
      flex-basis: 33.3333%;

      display: flex;
      justify-content: center;
      align-items: center;

      span.ends-in {
        font-size: 18px;
        color: $text-color;
        text-transform: uppercase;
        margin-right: 10px;
      }
    }
    .right-box {
      flex-basis: 33.3333%;
      text-align: right;
      a.see-all-products {
        text-transform: uppercase;
        font-size: 17px;
        color: $logo-blue;

        i {
          font-size: 15px;
        }
        &:hover {
          color: $ex-red;
        }
      }
    }
  }
}
//  = = = = = = = = = = = = = = = = = = = =

// home popular product end here

// = = = = = = = = = = = = = = = = = = = =

//  = = = = = = = = = = = = = = = = = = = =

// advertise section start from here

// = = = = = = = = = = = = = = = = = = = =
.advertise-main {
  background: #fff;
  padding: 30px 0;
  margin-bottom: 30px;
}

//  = = = = = = = = = = = = = = = = = = = =

// advertise section end here

// = = = = = = = = = = = = = = = = = = = =

//  = = = = = = = = = = = = = = = = = = = =

// shop by category section start from here

// = = = = = = = = = = = = = = = = = = = =

.shop-category-main {
  padding: 30px 0;
  background: #fff;
  .common-fieldset-main {
    margin-bottom: 0px;
    .common-fieldset {
      padding: 15px 19px 19px 19px !important;
      border: 1px solid #e9ebec !important;
      border-radius: 4px;
      legend {
        text-align: left !important;
        color: $logo-blue;
        margin: 0 auto;
        width: auto;
        float: none;
        font-size: 18px;
        padding: 2px 20px;
        background: #e9ebec;
        border-radius: 4px;
        text-transform: uppercase;
      }
      .card {
        border-color: #f1f1f1;

        border-radius: 0.25rem;
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        -ms-border-radius: 0.25rem;
        -o-border-radius: 0.25rem;
        transition: all 0.3s;
        margin-bottom: 20px;

        .card-body {
          .image-box {
            min-height: 150px;
            max-height: 150px;
            text-align: center;

            margin-bottom: 15px;

            img {
              max-height: 150px;
              margin: 0px auto;
            }
          }
          .product-title {
            h4 {
              color: $text-color;
              font-size: 15px;
              margin-bottom: 0;
              text-align: center;
              text-transform: capitalize;
              font-weight: normal;
            }
          }
        }
        &:hover {
          box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
          .product-title {
            h4 {
              color: $logo-blue;
            }
          }
        }
      }
    }
    .slick-slide {
      margin-left: 10px;
    }
    .slick-list {
      margin-left: -10px;
    }
    .slick-next {
      @include common-slick-next;
    }
    .slick-prev {
      @include common-slick-prev;
    }
  }
}

//  = = = = = = = = = = = = = = = = = = = =

//  shop by category section end here

// = = = = = = = = = = = = = = = = = = = =

//  = = = = = = = = = = = = = = = = = = = =

//  pantry section start from here

// = = = = = = = = = = = = = = = = = = = =
.pantry-main {
  padding: 30px 0;
  margin-bottom: 30px;
  background: #fff;
  .card {
    border-color: #f1f1f1;

    border-radius: 0.25rem;
    margin-bottom: 20px;
    .card-body {
      position: relative;

      .big-image-box {
        text-align: center;
        img {
          max-height: 655px;
        }
      }
      .small-image-box {
        text-align: center;
        img {
          max-height: 300px;
        }
      }
      .product-title {
        background: $second-footer-bg;
        padding: 5px 0;
        text-align: center;
        transition: all 0.3s;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          width: 100%;
          height: 100%;
          color: $logo-blue;
        }
        h4 {
          margin-bottom: 0;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: normal;
        }
        &:hover {
          background: $logo-blue;
          a {
            color: #fff;
          }
        }
      }
      .discount-tag-square {
        height: 100px;
        width: 100px;
        @include discount-tag-square;
        .text {
          @include discount-tag-square-text;
          h4 {
            text-transform: uppercase;
            font-size: 15px;
            margin-bottom: 10px;
          }
          h4.disc {
            margin-bottom: 5px;
            font-size: 25px;
          }
        }
      }
    }
  }
  .small-product-card {
    .card-body {
      .discount-tag-square {
        height: 80px;
        width: 80px;
        @include discount-tag-square;
        .text {
          @include discount-tag-square-text;
          h4 {
            text-transform: uppercase;
            font-size: 13px;
            margin-bottom: 0px;
          }
          h4.up-to {
            text-transform: uppercase;
            font-size: 13px;
            margin-bottom: 5px;
          }
          h4.disc {
            margin-bottom: 5px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

//  = = = = = = = = = = = = = = = = = = = =

//  pantry section end here

// = = = = = = = = = = = = = = = = = = = =

// testimonial section start from here

.testimonials-clean {
  color: #313437;
  // background-color: #eef4f7;
  background: #fff;
  margin-bottom: 30px;
  p {
    color: #7d8285;
  }
  h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: #7d8285;
  }
  .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
    p {
      margin-bottom: 0;
    }
  }
  .people {
    padding: 50px 0 20px;
  }
  .item {
    margin-bottom: 32px;
    .box {
      padding: 30px;
      background-color: #fff;
      border: 1px solid $logo-blue;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 30px;
        bottom: -24px;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-width: 12px 15px;
        border-top-color: $logo-blue;
      }
    }
    .author {
      margin-top: 28px;
      padding-left: 25px;
    }
    .name {
      font-weight: bold;
      margin-bottom: 2px;
      color: $text-color;
    }
    .title {
      font-size: 13px;
      color: $text-color;
    }
    .description {
      font-size: 15px;
      margin-bottom: 0;
    }
    img {
      max-width: 40px;
      float: left;
      margin-right: 12px;
      margin-top: -5px;
    }
  }
  .slick-slide {
    margin-left: 20px;
  }
  .slick-list {
    margin-left: -20px;
  }
  .slick-next {
    @include common-slick-next;
    top: 35%;
    right: -10px;
  }
  .slick-prev {
    @include common-slick-prev;
    top: 35%;
    left: -26px;
  }
}

// testimonial section end here
