// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import 'partials/variables';
@import 'partials/mixin';
@import 'partials/classes';
@import 'partials/variables';
@import 'partials/colors';
body {
  font-size: 17px;
  font-family: $roboto-font;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 500;
  background: $body-bg;
}

ul {
  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
}
.form-control {
  @include no-radious;
  &:focus {
    box-shadow: none;
    outline: none;
    border-color: $light-blue;
  }
}

// common css for top menu

.header-top {
  .navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    .navbar-brand {
      padding: 0;
    }
    ul.navbar-nav {
      li.nav-item {
        a.nav-link {
          font-size: 15px;
          color: $text-color;
          text-transform: capitalize;
          color: $logo-blue;
          font-weight: 500;
          line-height: 32px;
          padding-left: 8px;
          padding-right: 8px;
          &:hover {
            color: $logo-blue;
          }
          img {
            width: 32px;
            height: 32px;
            margin-right: 10px;
          }
        }
        .dropdown-toggle {
          &::after {
            display: none;
          }
        }
        .dropdown-item {
          font-size: 15px;
          color: $text-color;
          text-transform: capitalize;
          color: $text-color;
          font-weight: 500;
        }
      }
    }
    form {
      flex: 1 1 30%;
      box-sizing: border-box;
      max-width: 30%;
      margin-left: 20px;
      margin-right: 20px;
      position: relative;
      .form-control {
        border-radius: 5px !important;
        -webkit-border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        -ms-border-radius: 5px !important;
        -o-border-radius: 5px !important;
        border-color: #283593;
        padding: 0;
        height: 34px;
        width: 95%;
        font-family: $arial-font;
        padding-left: 45px;
        font-size: 15px;
        color: $logo-blue;
        font-weight: normal;
      }
      .search-icon {
        position: absolute;
        left: 9px;
        top: 1px;
        background-color: #fafafa;
        border: 1px solid #fff !important;
        border-radius: 5px 0 0 5px;
        padding: 3px;
        font-size: 15px;
      }
      ::placeholder {
        font-family: $arial-font;

        color: #424242;
      }
    }
    .topsocial-nav {
      flex: 1 1 28%;
      box-sizing: border-box;
      max-width: 28%;
      justify-content: center;
      align-items: center;
    }
    .topcart-nav {
      flex: 1 1 22%;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
    }
  }
}

// = = = = = = = = = = = = = = = = = = = =

// main header start from here

// = = = = = = = = = = = = = = = = = = = =
.main-header {
  .navbar {
    background: $logo-blue;
    color: #fff;
    padding: 0;
    height: 43px;
    .sidebar-show-btn {
      background: transparent;
      @include no-radious;
      border: none;
      color: #fff;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      margin-right: 10px;

      svg {
        margin-right: 10px;
        fill: #fff;
      }
    }
    ul.navbar-nav {
      li.nav-item {
        height: 43px;
        display: flex;
        align-items: center;
        a.nav-link {
          color: #fff;
          letter-spacing: 0.3px;
          font-size: 13px;
          font-weight: normal;
          text-transform: uppercase;
          padding: 4px 15px;
        }
        .dropdown-toggle::after {
          display: none;
        }
        a.dropdown-item {
          text-transform: uppercase;

          font-size: 13px;
          letter-spacing: 0.3px;
          color: $text-color;
          font-weight: normal;
          transition: all 0.3s;
          &:hover {
            padding-left: 30px;
            background: $logo-blue;
            color: #fff;
            font-weight: normal;
          }
        }
        .dropdown-menu {
          min-width: 270px;
          top: 43px;
          @include no-radious;
          border-color: $light-blue;
        }
      }
    }
  }
}
// = = = = = = = = = = = = = = = = = = = =

// main header end here

// = = = = = = = = = = = = = = = = = = = =

// body toggle section start from here . do not overwrite without discussion

.layout-main {
  display: flex;
  width: 100%;
  align-items: stretch;
  margin-bottom: 20px;

  #sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #fff;

    transition: all 0.3s;
    .sidebar {
      padding: 20px 10px;
      height: 100%;
      .nav-header {
        text-align: center;
        margin-bottom: 10px;
        background: $body-bg;
        padding: 10px 0;
        h3 {
          color: $logo-red;
          text-transform: capitalize;
          font-size: 18px;
          margin-bottom: 0px;
        }
      }

      li {
        .submenu {
          list-style: none;
          margin: 0;
          padding: 0;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
      li.nav-item {
        border-bottom: 1px solid $body-bg;
      }

      .nav-link {
        font-weight: 500;
        text-transform: capitalize;
        color: $text-color;
        font-size: 15px;
      }
      .parent-link {
        position: relative;
        &::after {
          position: absolute;
          right: 0;
          top: 10px;

          content: '\f054';
          font-weight: 900;
          font-family: 'Font Awesome 6 Free';
          color: $text-color;

          font-size: 13px;
        }
      }
      .parent-link.icon-rotate {
        &::after {
          transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
        }
      }
    }
  }

  #sidebar.active {
    margin-left: -300px;
  }

  #content {
    // width: 100%;
    width: calc(100% - 300px);
    padding: 0;
    // min-height: 95vh;
    transition: all 0.3s;
  }
  #content.fulll-width {
    width: 100%;
  }

  .offer-slider-main {
    .always-offer-main {
      background: $offer-bg;
      padding: 10px 10px;
      .slick-slide {
        margin-left: 5px;
      }
      .slick-list {
        margin-left: -5px;
      }
      .card {
        background: $offer-bg;
        @include no-radious;
        .card-body {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding: 10px;
          .image-box {
            flex-basis: 60px;
            text-align: center;
            img {
              max-width: 50px;
              max-height: 50px;
            }
          }
          .content-box {
            flex-basis: calc(100% - 60px);
            .offer-product-name {
              h5 {
                font-size: 14px;
                margin-bottom: 8px;

                a {
                  color: $logo-blue;
                }
              }
              .offer-btn {
                border: none;
                background: $logo-blue;
                color: #fff;
                text-transform: uppercase;
                padding: 5px 15px;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                font-size: 14px;
                line-height: normal;
              }
            }
          }
        }
      }
    }
  }
  .home-slider-main {
    margin-bottom: 20px;

    .slick-prev {
      z-index: 1;
      border: 1px solid $logo-blue;
      color: #fff;
      left: 25px;
      font-size: 17px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      transition: all 0.3s;
      &:hover {
        border-color: $logo-red;
        color: $logo-red;
      }
    }
    .slick-next {
      z-index: 1;
      border: 1px solid $logo-blue;
      color: #fff;
      right: 25px;
      font-size: 17px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: all 0.3s;
      &:hover {
        border-color: $logo-red;
        color: $logo-red;
      }
    }
  }
  .online-apply {
    .online-apply-border {
      border-bottom: 1px solid $tag-grey;
      text-align: right;
      margin-bottom: 50px;
      .apply-online-btn {
        background: $green;
        display: inline-block;
        font-size: 18px;
        text-transform: capitalize;
        color: #fff;
        padding: 10px 20px;
        font-weight: 600;
      }
    }
  }

  .single-job-main {
    margin-bottom: 0px;
    .card {
      @include no-radious;
      margin-bottom: 20px;
      .card-body {
        h4.job-title {
          color: $green;
          @include job-title;
        }
        h4.job-vacancy {
          @include job-title;
          color: $text-color;
        }
        h4.total-vacancy {
          @include job-title;
          color: $tag-grey;
        }
        .job-responsibility {
          position: relative;
          h4.responsibility {
            @include job-title;
            color: $text-color;
          }
          ul {
            padding-bottom: 20px;
            margin-bottom: 0;
            li {
              font-size: 16px;
              text-transform: capitalize;
              list-style-type: disc;
              list-style-position: inside;
              margin-bottom: 5px;
              color: $tag-grey;
            }
          }
          a.job-readmore {
            text-transform: capitalize;
            text-align: right;
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 17px;
          }
        }
      }
    }
  }

  // = = = = = = = = = = = = = = = = = = = =

  // main slider start from here

  // = = = = = = = = = = = = = = = = = = = =

  .primary-slider-main {
    .primary-slider-flex {
      display: flex;
      flex-wrap: wrap;

      .main-slider {
        flex-basis: 66%;
        width: 66%;
        padding: 0 8px;
        padding-left: 0;
        .main-slider-wrapper {
          margin-bottom: 10px;
        }
        .slick-dots {
          bottom: 20px;
        }
        .slick-slide {
          img {
            min-height: 531px;
          }
        }
      }
      .double-slider {
        flex-basis: 34%;
        width: 34%;
        padding: 0 8px;
        padding-right: 0;
        .slick-slider {
          margin-bottom: 10px;
        }
        .slick-dots {
          bottom: 20px;
          li {
            width: 10px;
            height: 10px;
            button {
              width: 10px;
              height: 10px;
              &::before {
                width: 8px;
                height: 8px;
              }
            }
          }
        }
      }
    }
    .secondary-slider-flex {
      display: flex;
      flex-wrap: nowrap;

      .secondary-slider {
        flex-basis: calc(100% / 3);
        padding-right: 17px;
        min-width: calc(100% / 3);
        max-width: 100%;
        .slick-slide {
          img {
            min-height: 256px;
          }
        }
        .slick-dots {
          bottom: -15px;
          li {
            width: 10px;
            height: 10px;
            button {
              width: 10px;
              height: 10px;
              &::before {
                width: 6px;
                height: 6px;
              }
            }
          }
        }
        .slick-slider {
          margin-bottom: 0;
        }
      }
      .secondary-slider:last-child {
        padding-right: 0;
      }
    }
  }

  // = = = = = = = = = = = = = = = = = = = =

  // main slider end here

  // = = = = = = = = = = = = = = = = = = = =
}
// = = = = = = = = = = = = = = = = = = = =

// footer section start from here

// = = = = = = = = = = = = = = = = = = = =
.second-footer {
  background: $second-footer-bg;
  padding: 50px 0;

  h4.second-footer-title {
    @include job-title;
    text-transform: uppercase;
  }
  ul.nav {
    padding-left: 0;
    li.nav-item {
      a.nav-link {
        color: $text-color;
        font-size: 17px;
        text-transform: capitalize;
        padding-left: 0;
        transition: all 0.3s;
        &:hover {
          padding-left: 20px;
          color: $logo-blue;
        }
      }
    }
  }
  h5.download-app-title {
    text-transform: capitalize;
    font-weight: normal;
    font-size: 17px;
    margin-bottom: 15px;
  }
  p.part {
    font-size: 14px;
    text-align: justify;

    margin-bottom: 20px;
  }
  .phone-box {
    background: $logo-blue;
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .input-box {
      flex-basis: calc(100% - 80px);
      .form-control {
        background: transparent;
        border: none;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: 15px;
      }
      ::placeholder {
        color: #fff;
      }
    }
    .plan-box {
      flex-basis: 70px;
      text-align: center;
      .plain-btn {
        padding: 0;
        background: transparent;

        @include no-radious;
        border: none;
      }
      i {
        font-size: 30px;
        color: #fff;
      }
    }
  }
  .download-app-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    div {
      flex-basis: 48%;
    }
  }
}
.ssl-footer {
  background: $logo-blue;
  padding: 20px 0;
  .footer-border {
    margin: 20px 0;
    border-bottom: 1px solid #fff;
  }
  p {
    color: #fff;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    a {
      color: #fff;
    }
  }
  p.text-end {
    color: #fff;
  }
}
.jobdetails-main {
  .card {
    @include no-radious;
    .card-body {
      h4.job-title {
        @include job-title;
        color: $green;
      }

      h4.job-vacancy {
        @include job-title;
        color: $text-color;
      }
      h4.total-vacancy {
        @include job-title;
        color: $tag-grey;
      }
      .job-responsibility {
        margin-bottom: 20px;
        h4.responsibility {
          @include job-title;
          color: $text-color;
        }
        ul {
          padding-bottom: 0px;
          margin-bottom: 0px;
          li {
            font-size: 16px;
            text-transform: capitalize;
            list-style-type: disc;
            list-style-position: inside;
            margin-bottom: 5px;
            color: $tag-grey;
          }
        }
      }
      .apply-online-btn {
        background: $green;
        @include no-radious;
        border: none;
        color: #fff;
        font-size: 17px;
        padding: 5px 20px;
        margin-bottom: 20px;
        text-transform: capitalize;
        transition: all 0.3s;
        &:hover {
          background: $logo-blue;
        }
      }
    }
  }
}
// = = = = = = = = = = = = = = = = = = = =

// footer section end here

// = = = = = = = = = = = = = = = = = = = =

// = = = = = = = = = = = = = = = = = = = =

// home popular product start from here

// = = = = = = = = = = = = = = = = = = = =
.popularproduct-main {
  margin: 30px 0;
  background: #fff;
  padding: 30px 0;
  h3.common-title {
    @include h3-common-title;
  }
  h3.common-title.hot-sale {
    color: $ex-red;
  }
  .popularproduct-tabs {
    ul.nav-tabs {
      border: none;
      margin-bottom: 10px;
      li.nav-item {
        .nav-link {
          @include no-radious;
          min-width: 200px;
          border: none;
          border-right: 2px solid $d-grey;
          color: $tag-grey;
          font-size: 18px;
          font-weight: 600;
          text-transform: capitalize;
        }
        .nav-link.active {
          position: relative;
          &::before {
            position: absolute;
            width: 80%;
            left: 50%;
            bottom: 0;
            height: 2px;
            background: $logo-blue;
            content: '';
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
          }
        }
      }
    }
    .popularproduct-wrapper {
      margin-top: 30px;
      .card {
        transition: all 0.3s;
        position: relative;
        border: 1px solid #f1f1f1;
        border-radius: 0.25rem;
        &:hover {
          box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
        }
        .card-body {
          .image-box {
            min-height: 200px;
            border-bottom: 1px solid $l-gray;
            margin-bottom: 7px;
            max-height: 200px;
            text-align: center;
            img {
              height: 100%;
              max-height: 180px;
              margin: 0px auto;
            }
          }
          .brand-image-box {
            min-height: 298px;
            max-height: 298px;
            img {
              height: 100%;
              max-height: 298px;
              margin: 0px auto;
            }
          }
          .description-box {
            min-height: 100px;
            border-bottom: 1px solid $l-gray;
            margin-bottom: 7px;
            h4.product-title {
              text-align: center;
              a {
                font-size: 14px;
                text-transform: capitalize;
                color: $tag-grey;
                line-height: 1.5;

                margin-bottom: 15px;
                &:hover {
                  color: $logo-blue;
                }
              }
            }
            h3.product-price {
              color: $logo-blue;
              font-size: 17px;
              text-align: center;
              font-weight: normal;
              span {
                color: $tag-grey;
                font-weight: normal;
                font-size: 14px;
                text-transform: capitalize;
              }
            }
          }
          .addtocart-section {
            min-height: 40px;

            .addtocart-btn {
              background: $logo-blue;

              @include pp-addtocart-btn;
              i {
                margin-right: 5px;
              }
              &:hover {
                background: #fff;
                border-color: $logo-blue;
                color: $logo-blue;
              }
            }

            .requestto-stock-btn {
              @include pp-addtocart-btn;
              background: $ex-red;
              i {
                margin-right: 5px;
              }
              &:hover {
                background: #fff;
                border-color: $ex-red;
                color: $ex-red;
              }
            }
            .addto-quote-btn {
              @include pp-addtocart-btn;
              background: $light-blue;
              i {
                margin-right: 5px;
              }
              &:hover {
                background: #fff;
                border-color: $light-blue;
                color: $light-blue;
              }
            }
            .quantity-box {
              @include pp-addtocart-btn;
              background: $logo-blue;
              position: relative;
              .form-control {
                text-align: center;
                background: transparent;
                font-size: 17px;
                color: #fff;
                padding: 0;
                height: 27px;
                border: none;
              }
              .qty-minus-btn {
                @include addtocart-qty;
                top: 9px;
                left: 50px;
                color: $logo-blue;
                &:hover {
                  color: $logo-blue;
                }
              }
              .qty-plus-btn {
                @include addtocart-qty;
                top: 9px;
                right: 50px;
                color: $logo-blue;
                &:hover {
                  color: $logo-blue;
                }
              }
            }
          }
        }
      }

      .slick-slide {
        margin: 0 10px;
      }

      .slick-list {
        margin: 0 -10px;
      }
      .slick-next {
        z-index: 1;
        border: 1px solid #004a96;
        color: $logo-blue;
        right: 0px;
        font-size: 17px;
        width: 45px;
        height: 45px;
        @include circle-radious;
      }
      .slick-prev {
        z-index: 1;
        border: 1px solid #004a96;
        color: $logo-blue;
        left: 0px;
        font-size: 17px;
        width: 45px;
        height: 45px;
        @include circle-radious;
        transition: all 0.3s;
      }
    }
  }
  .common-title-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .left-box {
      flex-basis: 33.3333%;
      h3.common-title {
        @include h3-common-title;
      }
      h3.common-title.hot-sale {
        color: $ex-red;
      }
    }
    .center-box {
      flex-basis: 33.3333%;

      display: flex;
      justify-content: center;
      align-items: center;
      span.ends-in {
        font-size: 18px;
        color: $text-color;
        text-transform: uppercase;
        margin-right: 10px;
      }
      #countdown {
        text-align: center;
        // margin: auto;
        display: inline-block;
        #tiles {
          position: relative;
          z-index: 1;
          span {
            width: 65px;
            max-width: 65px;
            text-align: center;
            color: $ex-red;
            margin: 0 7px;
            padding: 5px 0;
            display: inline-block;
            position: relative;
            font-size: 20px;
            font-weight: 600;
          }
        }
        .labels {
          width: 100%;

          text-align: center;

          li {
            width: 75px;

            color: $text-color;

            text-align: center;
            text-transform: uppercase;
            display: inline-block;
          }
        }
      }
    }
    .right-box {
      flex-basis: 33.3333%;
      text-align: right;
      a.see-all-products {
        text-transform: uppercase;
        font-size: 17px;
        color: $logo-blue;

        i {
          font-size: 15px;
        }
        &:hover {
          color: $ex-red;
        }
      }
    }
  }
}
//  = = = = = = = = = = = = = = = = = = = =

// home popular product end here

// = = = = = = = = = = = = = = = = = = = =

//  = = = = = = = = = = = = = = = = = = = =

// advertise section start from here

// = = = = = = = = = = = = = = = = = = = =
.advertise-main {
  background: #fff;
  padding: 30px 0;
  margin-bottom: 30px;
}

//  = = = = = = = = = = = = = = = = = = = =

// advertise section end here

// = = = = = = = = = = = = = = = = = = = =
