.common-fieldset-main {
  margin-bottom: 20px;
  .common-fieldset {
    padding: 15px 19px 19px 19px !important;
    border: 1px solid #e9ebec !important;
    border-radius: 4px;
    legend {
      text-align: left !important;
      color: $logo-blue;
      margin: 0 auto;
      width: auto;
      float: none;
      font-size: 18px;
      padding: 2px 20px;
      background: #e9ebec;
      border-radius: 4px;
      text-transform: uppercase;
    }
  }
}
.common-gap {
  background: #fff;
  padding: 20px;
}

.min-80-vh {
  min-height: 80vh;
}

.py-thirty {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pb-thirty {
  padding-bottom: 30px;
}
.pt-thirty {
  padding-top: 30px;
}
.px-seventeen {
  padding-left: 17px;
  padding-right: 17px;
}
.mt-thirty {
  margin-top: 30px;
}
.newshape-bg {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.my-tweemty {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt-10 {
  margin-top: 10px;
}
