.common-fieldset-main {
  margin-bottom: 20px;
  .common-fieldset {
    padding: 15px 19px 19px 19px !important;
    border: 1px solid #e9ebec !important;
    border-radius: 4px;
    legend {
      text-align: left !important;
      color: $logo-blue;
      margin: 0 auto;
      width: auto;
      float: none;
      font-size: 18px;
      padding: 2px 20px;
      background: #e9ebec;
      border-radius: 4px;
      text-transform: uppercase;
    }
  }
}
.common-gap {
  background: #fff;
  padding: 20px;
}

.min-80-vh {
  min-height: 80vh;
}

.py-thirty {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pb-thirty {
  padding-bottom: 30px;
}
.pt-thirty {
  padding-top: 30px;
}
.px-seventeen {
  padding-left: 17px;
  padding-right: 17px;
}
.mt-thirty {
  margin-top: 30px;
}
.newshape-bg {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.my-tweemty {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.four-col-grid-container {
  @include product-grid-common;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  .moredetails-main {
    border-bottom: 1px solid $l-gray !important;
  }
}
.five-col-grid-container {
  @include product-grid-common;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.six-col-grid-container {
  @include product-grid-common;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.new-tag {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: $logo-red;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.discount-tag {
  width: 60px;
  height: 40px;
  background: #ec2028;
  text-transform: uppercase;
  font-size: 12px;
  position: absolute;
  top: 0;
  color: #fff;
  right: 0;
  text-align: center;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    position: absolute;
    left: 0;
    bottom: -60 px;
    content: '';
    border: 30px solid $logo-red;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}
span.pending {
  background: #f0932b;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 11px;
  color: #fff;
  letter-spacing: 0.8px;
  min-width: 80px;
  display: inline-block;
}
span.cancel {
  background: #ff5252;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 11px;
  color: #fff;
  letter-spacing: 0.8px;
  min-width: 80px;
  display: inline-block;
}

span.confirmed {
  background: #78e08f;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 11px;
  color: #fff;
  letter-spacing: 0.8px;
  min-width: 80px;
  display: inline-block;
}
