.common-fieldset-main {
  margin-bottom: 20px;

  .common-fieldset {
    padding: 15px 19px 19px 19px !important;
    border: 1px solid #e9ebec !important;
    border-radius: 4px;

    legend {
      text-align: left !important;
      color: $logo-blue;
      margin: 0 auto;
      width: auto;
      float: none;
      font-size: 18px;
      padding: 2px 20px;
      background: #e9ebec;
      border-radius: 4px;
      text-transform: uppercase;
    }
  }
}

.common-gap {
  background: #fff;
  padding: 20px;
}

.min-80-vh {
  min-height: 80vh;
}

.py-thirty {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pb-thirty {
  padding-bottom: 30px;
}

.pt-thirty {
  padding-top: 30px;
}

.px-seventeen {
  padding-left: 17px;
  padding-right: 17px;
}

.mt-thirty {
  margin-top: 30px;
}

.newshape-bg {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.my-tweemty {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.four-col-grid-container {
  @include product-grid-common;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .moredetails-main {
    border-bottom: 1px solid $l-gray !important;
  }
}

.five-col-grid-container {
  @include product-grid-common;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.six-col-grid-container {
  @include product-grid-common;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.new-tag {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: $logo-red;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.discount-tag {
  width: 60px;
  height: 40px;
  background: #ec2028;
  text-transform: uppercase;
  font-size: 12px;
  position: absolute;
  top: 0;
  color: #fff;
  right: 0;
  text-align: center;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    position: absolute;
    left: 0;
    bottom: -60 px;
    content: '';
    border: 30px solid $logo-red;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}

span.pending {
  background: #f0932b;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 11px;
  color: #fff;
  letter-spacing: 0.8px;
  min-width: 80px;
  display: inline-block;
}

span.cancel {
  background: #ff5252;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 11px;
  color: #fff;
  letter-spacing: 0.8px;
  min-width: 80px;
  display: inline-block;
}

span.confirmed {
  background: #78e08f;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 11px;
  color: #fff;
  letter-spacing: 0.8px;
  min-width: 80px;
  display: inline-block;
}

.two-col-grid-container {
  @include product-grid-common;
  grid-template-columns: 1fr 1fr;
}

.three-col-grid-container {
  @include product-grid-common;
  grid-template-columns: 1fr 1fr 1fr;
}

.search-history-btn {
  @include no-radious;
  background: $logo-blue;
  color: #fff;
  padding-top: 4px;
  padding-bottom: 3px;

  // width: 100%;
  &:hover {
    background: $logo-blue !important;
    color: #fff !important;
  }
}

.card {
  @include no-radious;
  transition: all 0.3s;
  position: relative;
  border: 1px solid #f1f1f1;

  .quickview-main {
    height: 58px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-align: center;

    ul.nav {
      li.nav-item {
        a.nav-link {
          padding: 0;
          width: 38px;
          height: 38px;
          margin: 10px 5px 10px 0;
          background: #fff;
          color: $d-grey;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 68px;

          &:hover {
            background: $logo-blue;
            color: #fff;
          }
        }
      }

      li.nav-item:nth-child(1) {
        a.nav-link {
          transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
        }
      }

      li.nav-item:nth-child(2) {
        a.nav-link {
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  &:hover {
    ul.nav {
      li.nav-item {
        a.nav-link {
          margin-top: 0;
        }
      }
    }
  }
}

.five-col-grid-container {
  .card {
    .image-box {
      min-height: 150px;

      img {
        height: 100%;
        max-height: 145px;
      }
    }
  }
}

.voucher-main {
  background: url(../images/icon/voucher.png);
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  .voucher-item-left {
    width: 104px;
    padding: 10px;
  }

  .voucher-item-right {
    flex: 1;

    .voucher-conditions {
      padding: 8px 35px;
      color: $logo-red;

      .discont {
        font-size: 16px;
        color: $logo-red;
        margin-bottom: 3px;
      }

      .condition {
        font-size: 14px;
        color: #4c4c4c;
      }
    }
  }

  .voucher-item-button {
    margin-right: 12px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    background: $logo-red;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
  }
}

.voucher-main:last-child {
  margin-bottom: 0;
}

// =============== Offcanvas ==============
.offcanvas-open-btn {
  position: fixed;
  right: 0;
  top: 40vh;
  background-color: $logo-blue;
  padding: 0;
  border-radius: 0;
  z-index: 99;
  border: none;
  // opacity: 0.7;
  transition: all 0.3s;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 68%);

  &:hover {
    // opacity: 1;
    background-color: $logo-blue !important;
  }

  .total-item {
    padding: 10px 15px;

    p {
      font-size: 14px;
    }

    i {
      font-size: 24px;
    }
  }

  .total-item-price {
    background-color: $white;
    color: $logo-blue;
    padding: 3px 0;
    font-weight: 500;
  }
}

.offcanvas {
  .offcanvas-header {
    background-color: $logo-blue;
    h5 {
      color: $white;
    }
    .btn-close {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 320 512'%3E%3Cpath d='M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z'/%3E%3C/svg%3E");
    }
  }

  // position: relative;
  .offcanvas-close-btn {
    position: absolute;
    left: -10%;
    top: 50%;
    border-radius: 0;
    background-color: $logo-blue;
    border-color: $logo-blue;

    &:hover {
      background-color: $logo-blue;
      border-color: $logo-blue;
    }
  }

  .offcanvas-body {
    .table {
      tbody {
        tr {
          padding: 10px 0;
          td {
            height: 70px;
            vertical-align: middle;
            text-align: center;
            color: $d-grey;

            img {
              max-width: 40px;
            }
            button {
              background-color: transparent;
              border: none;
              color: $d-grey;
            }
          }

          td.item-number {
            position: relative;
            color: $d-grey;

            .counter-up {
              position: absolute;
              top: 5px;
              right: 54%;
              transform: translateX(50%);
              color: #e0e0e0;

              &:hover {
                color: $d-grey;
              }
            }

            .counter-down {
              position: absolute;
              bottom: 5px;
              right: 54%;
              transform: translateX(50%);
              color: #e0e0e0;

              &:hover {
                color: $d-grey;
              }
            }

            span {
            }
          }

          td.item-price {
            color: $ex-red;
          }
        }
      }
    }
  }

  .offcanvas-footer {
    .accordion {
      border-bottom: 1px solid #d8d8d8;
      .accordion-item {
        .accordion-header {
          .accordion-button {
            background-color: $light-blue;
            color: $white;

            &::after {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 512 512'%3E%3Cpath d='M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z'/%3E%3C/svg%3E");
            }

            &:not(.collapsed)::after {
            }

            &:focus {
              box-shadow: none;
            }
          }
        }
        .accordion-body {
          form {
            .btn {
              border-radius: 0;
              background-color: $logo-blue;
              color: $white;
            }
          }
        }
      }
    }

    .place-order {
      padding: 30px 20px;
      display: flex;
      align-items: center;

      .place-order-btn {
        border-color: $light-blue;
        background-color: $light-blue;
        color: $white;
        border-radius: 0;
        padding: 0;
        width: 100%;
        flex-basis: 70%;
        height: 40px;
      }

      span {
        background-color: $logo-blue;
        color: $white;
        text-align: center;
        flex-basis: 30%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
// =============== Offcanvas ==============

// =============== Scrollbar ==============
.scroll_container {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  overflow-y: auto;
}
// =============== Scrollbar ==============

.add-all-items {
  margin: 30px 0;

  button {
    background-color: $logo-blue;
    color: $white;
    border-radius: 0;

    &:hover {
      background-color: $white;
      color: $logo-blue !important;
      border-color: $logo-blue !important;
    }
  }
}

#row-view-tab-pane {
  .card {
    @include popularproduct-wrapper-card;
    width: 50%;
    &:hover {
      box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    }
    .card-body {
      padding: 0;
      .image-box {
        min-height: 180px;
        background: rgb(249 249 249);
        max-height: 180px;
        text-align: center;

        padding: 17px;
        img {
          max-width: 100%;
          max-height: 140px;
        }
      }

      .row-view-card-body {
        padding: 17px 0;
        padding-right: 17px;
        position: relative;
        .description-box {
          @include pp-description-box;
          border: none;
          height: unset;
          min-height: unset;
          h4.product-title {
            text-align: left;

            a {
              font-size: 14px;
              text-transform: capitalize;
              color: $tag-grey;
              line-height: 1.5;

              margin-bottom: 15px;

              &:hover {
                color: $logo-blue;
              }
            }
          }

          h3.product-price {
            @include pp-h3-product-price;
            text-align: left;
            span {
              @include pp-h3-product-price-span;
            }
          }

          .moredetails-main {
            @include pp-moredetails-main;
            border-bottom: 1px solid #e9e7e7;
            .more-options {
              @include pp-more-options;

              .all-more {
                display: inline-flex;
                flex-wrap: wrap;

                .dropdown-menu {
                  @include moredetails-main-dropdown;
                  bottom: 61px !important;
                  h4.product-name {
                    font-size: 15px;
                    margin-bottom: 10px;
                  }

                  .all-offer {
                    p {
                      @include all-offer-p;

                      span.disc-qty {
                        color: $logo-red;
                      }
                    }
                  }

                  .form-select {
                    @include no-radious;
                    text-transform: capitalize;
                    font-size: 14px;

                    &:focus {
                      box-shadow: none;
                      outline: none;
                    }
                  }
                }

                .dropdown-toggle {
                  @include pp-dropdown-toggle;

                  &::after {
                    @include pp-dropdown-toggle-after;
                  }

                  &:focus {
                    border: none;
                  }
                }

                .dropdown-toggle-up {
                  &::after {
                    content: '\f077' !important;
                  }
                }
              }
            }
          }
        }
        .addtocart-section {
          .addtocart-btn {
            background: $logo-blue;

            @include pp-addtocart-btn;

            i {
              margin-right: 5px;
            }

            &:hover {
              background: #fff;
              border-color: $logo-blue;
              color: $logo-blue;
            }
          }

          .requestto-stock-btn {
            @include pp-addtocart-btn;
            background: $ex-red;

            i {
              margin-right: 5px;
            }

            &:hover {
              background: #fff;
              border-color: $ex-red;
              color: $ex-red;
            }
          }

          .addto-quote-btn {
            @include pp-addtocart-btn;
            background: $light-blue;

            i {
              margin-right: 5px;
            }

            &:hover {
              background: #fff;
              border-color: $light-blue;
              color: $light-blue;
            }
          }

          .add-req-flex {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .btn {
              // flex-basis: 49%;
              flex-basis: auto;
            }
          }

          .quantity-box {
            @include pp-addtocart-btn;
            background: $logo-blue;
            position: relative;

            .form-control {
              text-align: center;
              background: transparent;
              font-size: 17px;
              color: #fff;
              padding: 0;
              height: 27px;
              border: none;
            }

            .qty-minus-btn {
              @include addtocart-qty;
              top: 9px;
              left: 50px;
              color: $logo-blue;

              &:hover {
                color: $logo-blue;
              }
            }

            .qty-plus-btn {
              @include addtocart-qty;
              top: 9px;
              right: 50px;
              color: $logo-blue;

              &:hover {
                color: $logo-blue;
              }
            }
          }
        }
      }
    }
  }
}
